body {
    background-color: white;
    overflow: auto;
    margin: 0;
    color: #6ab1ff;
    font-family: 'Baloo';
}
#lewo {
    
    position: absolute;
    top: 78px;
    left: 0;
    width: 20%;
    height: 100%;
    border-right: 1px dotted black;
    overflow: auto;
}

#srodek {
    position: absolute;
    top: 78px;
    left: 20%;
    width: 60%;
   height: 100%;
   text-align: center;
   overflow: auto;
}
.poziom{
    cursor: pointer;
}

#prawo {
    border-left: 1px dotted black;
    position: absolute;
    top: 78px;
    width: 20%;
    left: 80%;
    height: 100%;
    overflow: auto;
}

#prawogora {
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    overflow: auto;
}

#prawodol {
    border-top: 1px dotted black;
    top: 35%;
    height: 50%;
    width: 100%;
}


h1 {
    font-size: 60px;
}

#poziomy {
    top: 20%;
    width: 100%;

    display: grid; 
    grid-template-columns: repeat(3, auto); 
    justify-content: center;
    column-gap: 8%; 
    row-gap: 40px;  
    padding-top: 40px;
}

.poziom, .poziomDone, .poziomNext {
    background-color: #fd6866;
    border-radius: 20%;
    width: 120px;
    height: 120px;
    font-size: 400%;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    border: none;
}

.poziomDone{
    background-color: #ff908f;
}
.poziomDone:hover{
    background-color: #c4dffc;
    color: white;
}

.poziomNext{
    background-color: #ffc7c6;
}
.poziomNext:hover{
    background-color: #e91814;
}


button{
    cursor: pointer;
}

.ocenPoziom{
    background-color: rgb(76, 163, 144);
    color: red;
    border: 2px solid dotted;
}


.poziom:hover {
    background-color: rgb(94, 112, 214);
}



#rankingowy, .rankingowy{
    background-color: #c4dffc;
    border: none;
    color: #6ab1ff;
    font-family: 'Baloo';
    margin-top: 40%;
    width: auto;
    height: auto;
    
    font-size: 400%;
    border-radius: 25px;
    
    cursor: pointer;
}



#rankingowy:hover {

    background-color: blue;
}

.rankingowy:hover {

    background-color: rgb(255, 0, 0);
}


h2 {
    position: absolute;
    left: 30%;
}

h3 {
    font-size: 30px;
}
#lewo{
    text-align: center;
}

#test {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
}

#pozycjarankingowa {
    position: relative;
    top: 10%;
    left: 5%;
    font-weight: bold;
}

#wygrane{
    color: green;
}
#przegrane{
    color:red;
}

img[src="poziomy/gwiazdka.png"]:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 500ms ease;

}

#wyslij{
    border: 1px solid black;
    background-color: rgb(159, 201, 96);
    width: 200px;
    height: 50px;
    
    font-size: 30px;
    color: white;
    margin-top: 20px;
    border-radius: 40px;

}

#gwiazdki {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  #komunikat {
    position: fixed;
    background-color: rgba(179, 73, 73, 0.98); 
    color: black;
    text-align: center;
    padding: 10px;
    z-index: 1000;
    width: 40%;
    height: 50%;
    margin-left: 7%;
    margin-top: 7%;
   
    border-radius: 10%;


     display: none;
}

#komunikat p {
    color: blue;
    background-color: rgb(206, 86, 86);
    cursor: pointer;
    font-size: 170%;
    border: 2px dotted blue;
    border-radius: 20px;

}
#komunikat p:hover {
    
    background-color: rgb(108, 108, 190);
    transition: background-color 2s ease;

}
#komunikat h4{
    color: black;
    margin-left: 90%;
    margin-top: 2px;
    border: 1px solid black;
    border-radius: 50%;
    width: 10%;
    background-color: rgb(128, 127, 127, 0.97);
    font-size: 130%;
    cursor: pointer;
}
#komunikat h4:hover{
    background-color: rgb(108, 108, 190);
    transition: background-color 2s ease;
}


#komunikat h3{
    margin-top: 10%;
    color: black;

}






#twojaOcena{
    border: 1px solid blue;
    border-radius: 20px;
    color: black;
}


#twojaOcena:hover{
    background-color: rgb(219, 138, 138);
    border: 1px solid red;
   
    cursor: pointer;
    
    background-image: url('../smietnik.png');
    background-repeat: no-repeat;
    background-position: left;

     transition: background-color 3s ease, border 3s ease;
}



#czyDelete{
     position: fixed;
    background-color: rgba(179, 73, 73, 0.98); 
    color: black;
    text-align: center;
    padding: 10px;
    z-index: 1000;
    width: 40%;
    height: 50%;
    margin-left: 7%;
    margin-top: 7%;
   
    border-radius: 10%;


     display: none;
}
#czyDelete p {
    color: blue;
    background-color: rgb(206, 86, 86);
    cursor: pointer;
    font-size: 170%;
    border: 2px dotted blue;
    border-radius: 20px;

}
#czyDelete p:hover {
    
    background-color: rgb(108, 108, 190);
    transition: background-color 2s ease;

}
#czyDelete h4{
    color: black;
    margin-left: 90%;
    margin-top: 2px;
    border: 1px solid black;
    border-radius: 50%;
    width: 10%;
    background-color: rgb(128, 127, 127, 0.97);
    font-size: 130%;
    cursor: pointer;
}
#czyDelete h4:hover{
    background-color: rgb(108, 108, 190);
    transition: background-color 2s ease;
}


#czyDelete h3{
    margin-top: 10%;
    color: black;

}
#czyDelete a{
    text-decoration: none;
}


#opinieUz{
    color: black;
    text-align: left;
    font-size: 105%;
    border: 1px dotted blue;
    margin-top: 2%;
    border-radius: 10%;
}

#opinieUz:hover{
    background-color: rgb(219, 138, 138);
    border: 1px solid red;
    transition: background-color 3s ease, border 3s ease;
    cursor: pointer;
}