body{
    background-color: white;
    margin: 0;
    font-family: 'Baloo';
    color: #6ab1ff;
}
#prawo{
    position: absolute;
    top: 78px;
    left: 30%;
    width: 70%;
}

#lewo{
    position: absolute;
    top: 78px;
    
    width: 30%;

}
#prawo table{
    margin-top: 7%;
    width: 100%;
    
}
#prawo th{
    background-color: #c4dffc;
    text-align: left;
    font-size: 160%;
    
}

#prawo th:hover{
    background-color: #d9c4fc;
}

#prawo td{
    background-color: #c4dffc;
    color: rgb(13, 11, 129);
}

#prawo td:hover{
    cursor: pointer;
    background-color: #d9c4fc;
}

#naglowek{
    text-align: center;
}

#prawo tbody tr:nth-child(2) td {
    background-color: rgba(255, 217, 0, 0.671);
}


#prawo tbody tr:nth-child(3) td {
    background-color: silver;
}
#prawo tbody tr:nth-child(4) td {
    background-color: rgba(165, 42, 42, 0.342);
}
button{
    background-color: #c4dffc;
    border: none;
    color: #6ab1ff;
    font-family: 'Baloo';
    margin-top: 30%;
    width: auto;
    height: auto;
    margin-left: 20%;
    
    font-size: 300%;
    border-radius: 25px;
    
    cursor: pointer;
}

button:hover{
    color: white;
    background-color: #3e6691;;
    transition: all 2s ease;
}