body{
    margin: 0;
}
#banner {
  position: fixed;
  background-color: #6ab1ff;
  height: 78px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  z-index: 1000;
  overflow-x: auto;
  overflow-y: hidden; 
  
}

#banner img[src="/mathbrain/inc/logo3.png"]{
    height: 80px;
    margin-top: -2px;
}

#banner ul{
    margin-left: -3%;
    list-style: none;
    display: flex;
    
    overflow-x: auto;
    overflow-y: hidden;
    
    width: 980px;
    z-index: 20;
}
@font-face {
  font-family: 'Echomotors';
  src: url('fonts/Echomotors\ Demo.ttf') format('woff2');
}

@font-face {
    font-family: 'Baloo';
    src: url('fonts/Baloo-Regular.ttf');
}
#banner li{
    
    font-size: 200%;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 10%;
    font-family: 'Baloo';


}

#banner li:hover{
    text-decoration: underline rgba(255, 255, 255, 0.445);
}


#wyloguj{
    border: none;
    margin-left: 70px;
    margin-top: -1.5px;
    font-family: 'Baloo';
     background-color: #6ab1ff;
     color: #c4dffc;
    width: auto;
    width: auto;
    font-size: 200%;
    border-radius: 30px;
}

#wyloguj:hover{
    background-color: rgba(255, 0, 0, 0.438);
    color: white;
    transition: all 500ms ease;
    
}


#banner a{
    text-decoration: none;
    color: #c4dffc;
}


#dane {
    font-family: 'Baloo';
    color: black;
    font-size: 100%;
    overflow: auto;
    min-width: 250px;
    height: 87%;
    margin: 5px;
    background-color: white;
   
    margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;

  border-radius: 15px;
}

#dane p{
    margin-top: 15px;
    margin-left: 5px;
}