body {
    
    margin: 0;
    overflow: auto;
    
    
}


@font-face {
  font-family: 'Echomotors';
  src: url('fonts/Echomotors\ Demo.ttf') format('woff2');
}

@font-face {
  font-family: 'Baloo';
  src: url('fonts/Baloo-Regular.ttf') ;
}

#stopka {
    height: 4%;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;      
    justify-content: center;    
    color: #6ab1ff;
    
   background-color: none;
    z-index: -12;
    font-family: 'Baloo';
}


.left {
  margin-right: auto; 
  
}

.right {
  margin-left: auto; 
}